<!DOCTYPE html> 
<html lang="en">
	<head> 
		<title> LOST Create User </title>
	</head>
	<body>
		<h1> Create a user for the LOST application </h1> 
		<br> 
		<form action="/create_user"  method="post">
			<input type="text" maxlength="16" name="username" placeholder="username">
			<input type="password" maxlength="16" name="password" placeholder="password">
			<br>
			<input type="text" maxlength="32" name="role" placeholder="role">
			<br>	
			<input type="submit" value="Submit"> 
		</form>
	</body>
</html>


