<!DOCTYPE html> 
<html lang="en">
	<head> 
		<title> LOST Create User </title>
	</head>
	<body>
		<h1> Create a user for the LOST application </h1> 
		<br> 
		<form action="/create_user"  method="post">
			Username:<input type="text" maxlength="16" name="username"> &nbsp;
			Password:<input type="password" maxlength="16" name="password">&nbsp;
			Role: <select name ="role">
				{% for role in session.roles %}
				<option value="{{role}}"> {{role}} </option>
				{% endfor %} 
			</select>
			<br><br> 	
			<input type="submit" value="Submit"> 
		</form>
	</body>
</html>


