<!DOCTYPE html>
<html lang="en">
<head>
    <title> Filter Database</title>
</head>
<body>
    <h1>Connected as {{session.username}}</h1>
    <br>
    <h2>Get a report from the database</h2>
    <form action="" method="post">
        <input type="submit" name="button" value="Inventory Report">
        <input type="text" placeholder ="Search By Facility (fcode)" name="facility">
        <input style="width: 5cm" type="text" placeholder ="Search By Date (mm/dd/yyyy)" name="date_f">
        <br>
        <br>
        <input type="submit" name="button" value="Transit Report">
        <input style="width: 5cm" type="text" placeholder ="Search By Date (mm/dd/yyyy)" name="date_t">
        <br>
        <br>
        <input type="submit" name="button" value="Logout">
    </form>
    <br>
    <h4>If an error occurs you will be logged out</h4>
</body>
</html>