<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <h1>Connected as {{session.username}}</h1>
    <br>
    <form action="" method="post">
        <input type="submit" name="button" value="Inventory Report">
        <input type="text" placeholder ="Search By Facility " name="facility">
        <br>
        <br>
        <input type="submit" name="button" value="Transit Report">
        <input style="width: 5cm" type="text" placeholder ="Search By Date (mm/dd/yyyy)" name="date">
        <br>
        <br>
        <input type="submit" name="button" value="Logout">
    </form>
</body>
</html>