<!DOCTYPE html>
<html lang="en">
<head>
    <title> In Transit Report</title>
    <style>
        table, th,td {
            width: 100%;
            border: 1px solid black;
            table-layout: fixed;
        }
    </style>
</head>

<body>
    <h1> In Transit Report</h1>

    <table>
        <tr>
            <th> Asset Tag</th>
            <th> Product</th>
            <th> Source </th>
            <th> Destination</th>
            <th> Depart Date</th>
            <th> Arrive Date</th>
        </tr>
        {% for row in session.table %}
            <tr>
                <td>{{ row.asset }}</td>
                <td>{{ row.product }}</td>
                <td>{{ row.source }}</td>
                <td>{{ row.dest }}</td>
                <td>{{ row.depart }}</td>
                <td>{{ row.arrive }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>